<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <main [ngClass]="{'collapsed': isLeftSidebarCollapsed()}">
    <app-sidebar [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
      (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)"></app-sidebar>
    <header>
      <h1>Tu mascota</h1>
    </header>
    <div class="body-trimmed">
      <mat-tab-group>
        <mat-tab label="Información"> 
          <app-monitoreo-informacion [petId]="pet.id"></app-monitoreo-informacion>
        </mat-tab>
        <mat-tab label="Historial Medico"> 
          <app-monitoreo-historial [petId]="pet.id"></app-monitoreo-historial>  
        </mat-tab>
        <mat-tab label="Monitoreo"> 
          <app-monitoreo-salud></app-monitoreo-salud>  
        </mat-tab>
        <mat-tab label="Alertas"> Content 3 </mat-tab>
      </mat-tab-group>      
    </div>
  </main>
</body>
</html>
