<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <main [ngClass]="{'collapsed': isLeftSidebarCollapsed()}">
    <app-sidebar [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
      (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)"></app-sidebar>
    <header>
      <h1>Tu mascota</h1>
    </header>
    <div class="body-trimmed">
      <mat-tab-group>
        <mat-tab label="Información"> Content 0 </mat-tab>
        <mat-tab label="Salud"> Content 1 </mat-tab>
        <mat-tab label="Actividad"> Content 2 </mat-tab>
        <mat-tab label="Ubicación"> Content 3 </mat-tab>
        <mat-tab label="Alertas"> Content 3 </mat-tab>
      </mat-tab-group>      
    </div>
  </main>
</body>
</html>
