<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <main [ngClass]="{'collapsed': isLeftSidebarCollapsed()}">
    <app-sidebar [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
      (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)"></app-sidebar>
    <header>
      <h1>Tu mascota: {{pet?.nombre}}</h1>
    </header>
    <div class="body-trimmed">
      <app-monitoreo-informacion *ngIf="pet" [petId]="pet.id"></app-monitoreo-informacion>  
    </div>
  </main>
</body>
</html>