<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Monitoreo</title>
</head>
<body>
  <div class="all-charts">
    <div class="chart-container">
      <h4>Temperatura</h4>
      <div><canvas #healthTemp id="health-temp"></canvas></div>
      <h6>{{ temperatura !== null ? temperatura + ' °C' : 'N/A' }}</h6>
    </div>
    <div class="chart-container">
      <h4>Pulso</h4>
      <div><canvas #healthRate id="health-rate"></canvas></div>
      <h6>{{ pulso !== null ? pulso + ' bpm' : 'N/A' }}</h6>
    </div>
    <div class="chart-container">
      <h4>Respiración</h4>
      <div><canvas #healthBreathing id="health-breathing"></canvas></div>
      <h6>{{ respiracion !== null ? respiracion + ' rpm' : 'N/A' }}</h6>
    </div>
    <div class="chart-container">
      <h4>VFC</h4>
      <div><canvas #healthVfc id="health-vfc"></canvas></div>
      <h6>{{ vfc !== null ? vfc + ' ms' : 'N/A' }}</h6>
    </div>
  </div>
</body>
</html>