<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <mat-expansion-panel class="vaccines">
            <mat-expansion-panel-header>
                <mat-panel-title>Vacunas</mat-panel-title>        
            </mat-expansion-panel-header>
            <div class="vaccines-list">
                <div class="pet-item">
                    <h6>Nombre vacuna</h6>
                    <p>Fecha</p>
                    <p>Descripción</p>
                </div>
            </div>
            <button mat-flat-button>Añadir vacuna
                <mat-icon>add</mat-icon>
            </button>
        </mat-expansion-panel>

        <mat-expansion-panel class="illness">
            <mat-expansion-panel-header>
                <mat-panel-title>Enfermedades</mat-panel-title>        
            </mat-expansion-panel-header>
            <div class="illness-list">
                <div class="pet-item">
                    <h6>Nombre vacuna</h6>
                    <p>Fecha</p>
                    <p>Descripción</p>
                </div>
            </div>
            <button mat-flat-button>Añadir enfermedad
                <mat-icon>add</mat-icon>
            </button>
        </mat-expansion-panel>

        <mat-expansion-panel class="treatment">
            <mat-expansion-panel-header>
                <mat-panel-title>Tratamientos</mat-panel-title>        
            </mat-expansion-panel-header>
            <div class="treatment-list">
                <div class="pet-item">
                    <h6>Nombre vacuna</h6>
                    <p>Fecha</p>
                    <p>Descripción</p>
                </div>
            </div>
            <button mat-flat-button>Añadir tratamiento
                <mat-icon>add</mat-icon>
            </button>
        </mat-expansion-panel>
    </main>
</body>
</html>
