<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main [ngClass]="{'collapsed': isLeftSidebarCollapsed()}">
        <app-sidebar [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
            (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)"></app-sidebar>

            <header>
                <h1>Guías de primeros auxilios</h1>
              </header>
              <div class="body-trimmed">
                <section class="main-body">
                    <div class="search-bar">
                        <div class="input-group input-group-lg">
                          <input type="text" class="form-control rounded" placeholder="Buscar" aria-label="Buscar"
                            aria-describedby="search-addon" />
                          <span class="input-group-text" id="search-addon"><mat-icon matSuffix>search</mat-icon></span>
                        </div>
                      </div>

                      <div class="articles-body">
                        <h4 class="title-category">Titulo categoria</h4>
                      <div class="all-articles">
                        <div class="article">
                            <div class="article-image">
                                <img src="/assets/default-pet.png" alt="Imagen default">
                            </div>
                            <div class="article-content">
                                <h5>Titulo articulo</h5>
                                <p>Resumen articulo</p>
                                <button mat-flat-button class="more-button">Ver más</button>
                            </div>
                        </div>
                      </div>
                      </div>
                </section>
              </div>    
    </main>
</body>

</html>